@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}




.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Entfernt das Standard-Styling für Webkit */
    appearance: none; /* Entfernt das Standard-Styling */
    width: 25px; /* Breite der Kugel */
    height: 25px; /* Höhe der Kugel */
    background-color: #98f144; /* Hintergrundfarbe der Kugel */
    cursor: none; /* Zeiger beim Überfahren der Kugel */
    border-radius: 50%; /* Runde Ecken */
  }